* {
   padding: 0;
   margin: 0;
}
body {
   background-image: url("https://img.freepik.com/free-vector/cloud-background-pastel-paper-cut-design-vector_53876-135919.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1722297600&semt=ais_hybrid");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   min-height: 100vh;


}
